.hero {
  position: relative;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6rem;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-color: #90bccb;
  color: black;
  border-radius: 100%;
  border: 3px solid #90bccb;
  font-size: 2.5rem;
}

.hero a:hover {
  -webkit-animation-name: scrolldown;
          animation-name: scrolldown;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes scrolldown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes scrolldown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

.hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.hero h1 {
  font-size: 64px;
}

.hero h2 {
  font-size: 48px;
}

@media only screen and (max-width: 992px) {
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 42px;
  }
  .hero h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .hero h1 {
    font-size: 28px;
  }
  .hero h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 390px) {
  .hero h1 {
    font-size: 24px;
  }
}
