@import "../../utilities/variables";

.hero {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6rem;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    background-color: $primary-color;
    color: black;
    border-radius: 100%;
    border: 3px solid $primary-color;
    font-size: 2.5rem;
    &:hover {
      animation-name: scrolldown;
      animation-duration: 0.65s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes scrolldown {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-8px);
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.15);
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 36px;
    }
  }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 32px;
    }
  }
  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 28px;
    }
    h2:first-child {
      // margin-top: 5rem;
    }

    h2 {
      font-size: 22px;
    }
  }
  @media only screen and (max-width: 390px) {
    h1 {
      font-size: 24px;
    }
  }
}
