@import "../../utilities/variables";

$logoWidth: 250px;

.logo {
    width: $logoWidth;
}

.navLink {
    padding: $navLinkPadding;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.navLinkIcon {
    padding: $navLinkPadding;
}
