.PibuModal {
  background-color: #FAF5ED;
}

.outlineBtn {
  &:hover {
    color: white;
  }
}

.painPointCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personaCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.boldText {
  font-weight: bolder;
}

.mobilePrototype {
  width: 100%;
  border: 1px solid black;
  height: 650px;
  @media screen and (max-width: 400px) {
    height: 550px;
  }
}

