@import "../../utilities/variables";

.designTitle {
  color: $primary-color;
  text-align: center;
}
.outlineBtn {
  transition: transform 0.5s ease-in-out;
  &:hover {
    color: white;
    transform: scale(1.05);
  }
}
