@import "../../utilities/variables.scss";

.btnOutline {
  &:hover {
    color: white;
  }
}

.card {
  height: 500px;
  margin: 0 auto;
  .img {
    width: 100%;
    max-height: 200px;
  }
  .cardTitle {
    font-size: 28px;
    color: $primary-color;
    text-align: center;
  }
  .cardBody {
    margin-top: 5px;
  }
}
