@import "../../utilities/variables.scss";

.programmingTitle {
  color: $primary-color;
  text-align: center;
  padding-top: 70px;
}

.btnOutline {
  transition: transform 0.5s ease-in-out;
  &:hover {
    color: black;
    transform: scale(1.05);
  }
}

.card {
  min-height: 550px;
  margin: 0 auto;
  background-color: black;
  color: $primary-color;
  .cardHeader {
    .img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cardTitle {
    font-size: 28px;
    color: $primary-color;
    text-align: center;
  }
  .cardBody {
    position: relative;
    margin-top: 5px;
  }
  .cardFooter {
    border-top: 1px solid $primary-color;
    min-height: 75px;
  }
}
