.programmingTitle {
  color: #90bccb;
  text-align: center;
  padding-top: 50px;
}

.btnOutline {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.btnOutline:hover {
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card {
  height: 500px;
  margin: 0 auto;
  background-color: black;
  color: #90bccb;
}

.card .cardHeader .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .cardTitle {
  font-size: 28px;
  color: #90bccb;
  text-align: center;
}

.card .cardBody {
  position: relative;
  margin-top: 5px;
}

.card .cardFooter {
  border-top: 1px solid #90bccb;
}
